.container {
  margin: auto 1rem;
}
.sidebar .header-title {
  color: #000;
  font-family: sans-serif;
  font-size: 31.52px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.63px;
}
.chat-profile .profile-icon {
  width: 40px;
  height: 40px;
  background-color: #0047ff;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 97.688%; /* 23.558px */
  letter-spacing: 0.482px;
}
.chat-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.chat-profile h1 {
  color: #000;
  font-family: sans-serif;
  font-size: 20.67px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.413px;
}
.create-notes-btn {
  border-radius: 13rem;
  background: #000;
  padding: 0.5rem 1rem;
  width: 100%;
  cursor: pointer;
  color: #fff;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 97.688%;
  letter-spacing: 0.54px;
  margin-bottom: 2rem;
}

.model,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
}
.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.model-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 1rem;
  max-width: 600px;
  min-width: 300px;
}
.model-content .title {
  color: #000;
  font-family: sans-serif;
  font-size: 29px;
  font-style: normal;
  font-weight: 500;
  line-height: 160.188%; /* 46.454px */
  letter-spacing: 1.015px;
  text-align: start;
}
.pop-flex {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}
.pop-flex input {
  flex: 2;
  height: 2rem;
  padding: 0.5rem 2rem;
  border-radius: 22px;
  border: 2px solid #ccc;
  background: #fff;
  color: #979797;
  font-family: sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 160.188%; /* 36.843px */
  letter-spacing: 0.805px;
}
.pop-flex ul {
  flex: 2 1;
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
}
.pop-flex ul li {
  cursor: pointer;
}
.pop-flex h1 {
  flex: 1;
  color: #000;
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160.188%; /* 43.754px */
  letter-spacing: 0.956px;
  text-align: start;
}
.color-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.color-box:active {
  border: 1px solid #000;
}
.create-btn {
  border-radius: 10px;
  background-color: #000;
  padding: 0.5rem 2rem;
  color: #fff;
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160.188%; /* 32.038px */
  letter-spacing: 0.7px;
  cursor: pointer;
}
